.row {
  display: flex;
  flex-direction: row;
}

.twiceWidth {
  box-sizing: border-box;
  width: 100px;
}

button {
  padding: 10px;
  width: 50px;
  height: 50px;
}

#outerDiv {
  display: flex;
  flex-direction: column;
}

#display {
  box-sizing: border-box;
  width: 200px;
  padding: 10px;
}

#inputDiv {
  display: flex;
}